

.business-item-container {
    padding-bottom: 4em;
}

.business-item-container * {
    transition: 0.5s;
}

.fadein {
    max-height: 100em;
}

.fadeout {
    max-height: 0;
    opacity: 0;
}


.links-darker a {
    /* color: #8f4242; */
    color: #d56464;
}
.links-darker a:hover {
    text-decoration: underline;
}