
# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# End of https://www.gitignore.io/api/visualstudiocode
/.vs/config/applicationhost.config
/.vs/KennethRamsey.github.io/v15/.suo
/.vs/slnx.sqlite
